{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
	<h1>Привет, мир!</h1>
	<p>Это блог - он создан для того, чтобы показать как работать с Flask и SQLite</p>
	<p>На данный момент я все еще изучаю этот стек, и данная работа, результат моих обучений</p>
	<p>Что сделано?
		<ul>
			<li>Вывод постов</li>
			<li>Пагинация</li>
			<li>Поиск по заголовку</li>
			<li>Страница поста по слагу</li>
			<li>Краткое содержание</li>
			<li>Дата добавления поста</li>
			<li>Комментарии vk.сom</li>
		</ul>
	</p>
	<p>Что еще хочется сделать?
		<ul>
			<li>Админка</li>
		</ul>
	</p>
	<a href="/blog">Вперед! Смотри что получилось!</a>
  </div>
</div>
{% endblock %}